
.about{
  margin: 30px;
  height: 200px;
  display: flex;
  justify-content: center;
}
.aboutTwo{
margin: 30px;
display: grid;
padding: 15px;

}

.video{
  min-height: 600px !important;
  width: 600px ;
}

.divider{
color: blue;
}




