.other{
  min-height: 100vh;
  display: grid;
  justify-content: center;
}
.about{
  margin: 30px;
  height: 200px;
  display: flex;
  justify-content: center;
}
.aboutTwo{
margin: 30px;
display: inline;
}
.video{
  min-height: 600px !important;
  width: 600px ;
}

.divider{
color: blue;
}


.officeOne,.officeTwo,.officeThree{
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 2px solid white;
  height: 120px;
  color: white;
}
.officeOne{
background-color: cornflowerblue;
}
.officeTwo{
background-color: darkblue;
}
.officeThree{
background-color: blue;
}


